.chat-sidebar {
  height: 100vh;
  overflow-y: auto;
  background-color: white;
}

.chat-sidebar .user-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.chat-sidebar .user-section .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-sidebar .user-section .full-name {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.chat-sidebar .user-section .profile-button {
  flex-shrink: 0;
}

.chat-sidebar .user-section .logout-button {
  flex-shrink: 0;
}

.tool-box {
  width: 100%;
}

.search-and-new-section {
  display: flex;
  align-items: center;
  width: 100%;
}

.create-new-item {
  flex-shrink: 0;
  margin-right: 0;
  color: blue;
}

.conversation-list {
  margin-top: 10px;
  background-color: white;
}

.ant-menu-item {
  color: black !important;
  background-color: #f7f7f8 !important;
}

.ant-menu-item-selected {
  color: white !important;
  background-color: #1677ff !important;
}
