.user-connection-header {
  background-color: white;
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding: 10px 10px;
  height: auto;
}

.user-contact-card {
  width: 100%;
}

.user-contact-username {
  font-size: 12px;
  color: #86b6f6;
}

.user-connection-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 50vw;
}

.user-connection-content .tool-box {
  display: flex;
  gap: 10px;
}

.friend-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.friend-list .friend-list-item {
  text-align: left;
}

.friend-list .friend-list-item-tool-box {
  display: flex;
  gap: 5px;
}

@media (max-width: 900px) {
  .user-connection-content {
    max-width: 100%;
  }
}

.user-connection-content .relationship-status-filter {
  margin-bottom: 10px;
  margin-top: 0;
}
